extends ../shared/template

block content

  #indexPage

    #landingImage
      #sbcs-name  
  
    #mission
      #missionText 
        h1 MISSION 
        h2 Eliminate the barrier between people and technology. 
        p 
        |<strong>SOUTH BEND CODE SCHOOL</strong> 
        |was started in efforts to make
        |South Bend a <strong>CITY THAT CODES</strong>. 
        |Our mission has been focused around teaching all kinds
        |of people that coding isn't a skill acquired through obtaining
        |a college degree. We want our students to understand that 
        |code is a tool that allows you to build your ideas and whatever
        |you can imagine. 
        
      button.about about us
      
        
    #pastProjects
  
    
